body {
    margin: 0;
}

#game {
    background-image: url("../assets/bg-light.png")
}

@media (prefers-color-scheme: dark) {
    #game {
        background-image: url("../assets/bg-dark.png")
    }
}