body {
    margin: 0;
}

#game {
    background-image: url("../assets/bg-light.png");
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media (prefers-color-scheme: dark) {
    #game {
        background-image: url("../assets/bg-dark.png")
    }
}
